/*	Hide mouse cursor */
/*html {
	cursor: none;
}
*/

@font-face {
  font-family: CeraProRegular;
  src: url("../css/fonts/TypeMates - Cera PRO Regular.otf");
}

@font-face {
  font-family: CeraProBold;
  src: url("../css/fonts/TypeMates - Cera PRO Bold.otf");
}

@font-face {
  font-family: CeraProThin;
  src: url("../css/fonts/TypeMates - Cera PRO Thin.otf");
}

@font-face {
  font-family: CeraProMedium;
  src: url("../css/fonts/TypeMates - Cera PRO Medium.otf");
}

@font-face {
  font-family: CeraProLight;
  src: url("../css/fonts/TypeMates - Cera PRO Light.otf");
}

@font-face {
  font-family: CeraProBlack;
  src: url("../css/fonts/TypeMates - Cera PRO Black.otf");
}


/*	attractScreen */
#attractScreen .textBackdropDiv {
  width: 50%;
  height: 100%;
  background: rgba(41, 48, 59, 0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0; }

#attractScreen video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2; }

.attractorTextbox {
  position: absolute;
  color: white;
  z-index: 2; }

.aboveBar span {
  margin: 0;
  font-size: 120px;
  line-height: 100%;
  font-family: CeraProBold; }

.belowBar span {
  margin: 0;
  font-size: 36px;
  line-height: 160%;
  font-weight: normal;
  font-family: CeraProMedium; }

#attractScreen .categoryIconDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #955525;
  width: 0px;
  height: 180px;
  animation: categoryIconDiv 24s ease-in-out infinite; }

.categoryIconDiv img {
  min-width: 180px;
  opacity: 0;
  animation: categoryIcon 24s linear infinite; }

#attractScreen .dividerBar {
  width: 225px;
  height: 10px;
  position: absolute;
  z-index: 3;
  top: 440px;
  left: 140px;
  z-index: 100;
  background: #955525;
  animation: dividerBar 24s linear infinite;
  transition: width 1s linear; }

.attractorText {
  box-sizing: border-box;
  position: absolute;
  width: 680px;
  overflow: hidden;
  display: flex;
  z-index: 3; }

.barViewport {
  position: absolute;
  left: 140px;
  width: 680px;
  overflow: hidden; }

.aboveBarViewport {
  top: 140px;
  height: 300px; }

.belowBarViewport {
  top: 450px;
  height: 400px; }

.barContent {
  position: absolute;
  width: 100%; }

/*	Animations */
.aboveBar {
  align-items: flex-end;
  padding-bottom: 30px;
  animation: aboveBar 24s linear infinite; }

.belowBar {
  align-items: flex-start;
  padding-top: 30px;
  animation: belowBar 24s linear infinite; }

@keyframes aboveBar {
  0% {
    bottom: -300px; }
  7% {
    bottom: -300px;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    /* Cubic out */ }
  13% {
    bottom: 0; }
  73% {
    bottom: 0;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  79% {
    bottom: -300px; }
  100% {
    bottom: -300px; } }
@keyframes belowBar {
  0% {
    top: -400px; }
  9% {
    top: -400px;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  15% {
    top: 0; }
  75% {
    top: 0;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  81% {
    top: -400px; }
  100% {
    top: -400px; } }
@keyframes dividerBar {
  0% {
    width: 0px; }
  2% {
    width: 0px;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  7% {
    width: 225px; }
  81% {
    width: 225px;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  85% {
    width: 0px; }
  100% {
    width: 0px; } }
@keyframes categoryIconDiv {
  0% {
    width: 0px; }
  3% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    width: 0px; }
  15% {
    width: 180px; }
  74% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    width: 180px; }
  79% {
    width: 0px; } }
@keyframes categoryIcon {
  0% {
    opacity: 0; }
  9% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 0; }
  15% {
    opacity: 1; }
  72% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 1; }
  76% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.touchToStartBtn {
  font-family: CeraProMedium;
  height: 76px;
  border: 2px solid white;
  position: absolute;
  background: rgba(41, 48, 59, 0.5);
  box-sizing: border-box;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  color: white;
  letter-spacing: 4px;
  animation: startBtn 10s linear infinite; }
  .touchToStartBtn .btnText {
    width: 100%;
    text-align: center;
    margin-right: 25px; }

@keyframes startBtn {
  0% {
    opacity: 1; }
  18% {
    opacity: 0; }
  22% {
    opacity: 0; }
  40% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.pausedAnim {
  animation-play-state: paused !important; }

.noAnim {
  animation: none !important; }

/*	Claudio's dot animation */
.dot {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  margin: 0 30px;
  position: relative; }

.dot:before, .dot:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  animation: dotmove 2s linear infinite; }

.dot:before {
  animation-delay: 0s; }

.dot:after {
  animation-delay: 1s; }

@keyframes dotmove {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(1.5);
    opacity: 0; } }

#attractScreen .textBackdropDiv {
  width: 50%;
  height: 100%; }
#attractScreen .attractorTextbox {
  width: 50%;
  height: 100%; }
#attractScreen .touchToStartBtn {
  width: 720px;
  left: 120px;
  bottom: 120px; }
#attractScreen .categoryIconDiv {
  right: 120px;
  bottom: 120px; }

/*# sourceMappingURL=attractor.css.map */
